

/* ======================= REMOVE BOOTSTRAP CARD STYLE */

.accordion > .card {
	overflow: visible;
}



/* ======================= SHORTCODE ACCORDION STYLE */

.mb2-accordion {

	/* ======================= LOCAL VARIABLES */

	--mb2-pb-acc-hbgcolor: #f4f4f4;
	--mb2-pb-acc-hbghcolor: #f0f0f0;
	--mb2-pb-acc-cbgcolor: transparent;
	--mb2-pb-acc-iconcolor: inherit;
	--mb2-pb-acc-iconhcolor: inherit;

	/* ======================= */

	.card-header {
		background-color: transparent;
		border: 0;
		padding: 0;
	}

	.card {
		margin-bottom: .5rem;
		background-color: transparent;
		border-radius: 0;
	}

	.card-body {
		border: 0;
		padding-top: 1.3rem;
		padding-bottom: 1.3rem;
		padding-left: 0;
		padding-right: 0;
		background-color: transparent;
	}

	&.padding1 {
		.card-body {
			padding-left: 1.3rem;
			padding-right: 1.3rem;
		}
	}

	margin-bottom: 1.3rem;

	.panel-title {
		margin: 0;
	}

	.accorion-item {
		margin-bottom: .8rem;
	}


	/* ======================= CORE STYLE */

	[data-toggle="collapse"] {
		width: 100%;
		text-align: inherit;
		padding: .65rem 1.3rem;
		position: relative;
		font-size: 1rem;

		&.themereset {
			@include mb2_transition1(background-color, .15s);
		}

		// Hover/active status
		color: var(--mb2-pb-acc-thcolor);

		i {
			color: var(--mb2-pb-acc-iconhcolor);
			font-size: 1.52em;
    		margin-right: 0.4em;
    		vertical-align: middle;
		}

		// Normal status
		&.collapsed {
			color: var(--mb2-pb-acc-tcolor);

			i {
				color: var(--mb2-pb-acc-iconcolor);
			}
		}

		&:hover {
			color: var(--mb2-pb-acc-thcolor);

			i {
				color: var(--mb2-pb-acc-iconhcolor);
			}
		}

		/* ======================= CLOSE/OPEN SHAPE */

		&:before {
			content: '\2212';
			display: block;
			position: absolute;
			width: 24px;
			height: 24px;
			top: 50%;
			margin-top: -12px;
			right: .65rem;
			text-align: center;
			line-height: 24px;
			font-size: 1.52em;
			font-weight: normal !important;
		}

		// Normal status
		&.collapsed {
			&:before {
				content: '\002B';
			}
		}


	}



	/* ======================= DEFAULT STYLE */

	&.style-default {
		[data-toggle="collapse"] {

			// Hover/active status
			background-color: var(--mb2-pb-acc-hbghcolor);


			// Normal status
			&.collapsed {
				background-color: var(--mb2-pb-acc-hbgcolor);
			}

			&:hover {
				background-color: var(--mb2-pb-acc-hbghcolor);
			}
		}

		.card-body {
			background-color: var(--mb2-pb-acc-cbgcolor);
		}

		&.rounded1 {
			[data-toggle="collapse"] {
				border-radius: .35rem;
			}

			.card-body {
				margin-top: -.35rem;
				border-radius: 0 0 .35rem .35rem;

				.inner {
					padding-top: .35rem;
				}
			}
		}
	}


	/* ======================= SIZE - MEDIUM */

	&.sizem {

		[data-toggle="collapse"] {
			padding: 1.22rem 1.3rem;
		}

		.card-body {
			padding-top: 1.3rem;
			padding-bottom: 1.3rem;
		}

	}

	/* ======================= SIZE - LARGE */

	&.sizel {

		[data-toggle="collapse"] {
			padding: 2.2rem 1.5rem;
		}

		.card-body {
			padding-top: 2.2rem;
			padding-bottom: 2.2rem;
		}

		&.padding1 {
			.card-body {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
		}
	}


	/* ======================= MINIMAL STYLE */

	&.style-minimal {

		[data-toggle="collapse"] {
			padding-left: 0;
			padding-right: 0;
		}

		.card {
			border-bottom: solid 1px rgba(0,0,0,.1) !important;
			margin-bottom: 0;
		}
	}




	/* ======================= MINIMAL STYLE ON DARK BACKGROUND */

	.dark & {
		&.style-minimal {
			[data-toggle="collapse"] {
				color: #fff;


				&:before {
					color: rgba(255,255,255,.6);
				}

				&:hover,
				&:focus {
					&:before {
						color: #fff;
					}
				}
			}

			.card {
				border-color: rgba(255,255,255,.2) !important;
			}
		}
	}

	/* ======================= ACCORDIONS ON COURSE ENROLMENT PAGE */

	// &.theme-enrol {
	//
	// 	[data-toggle="collapse"] {
	// 		border: 0;
	// 		padding: .85rem 1rem !important;
	// 		font-weight: $fwheadings3;
	// 		background-color: darken( $color_gray2, 3% );
	// 		color: $textcolor;
	// 		width: 100%;
	// 		text-align: inherit;
	// 		font-size: 1rem;
	//
	// 		&:hover,
	// 		&:focus {
	// 			background-color: darken( $color_gray2, 3% );
	// 		}
	//
	// 		&:before {
	// 			@include mb2_font_fa();
	// 			position: relative;
	// 			display: inline-block !important;
	// 			background-color: transparent;
	// 			content: '\f106';
	// 			width: auto;
	// 			height: auto;
	// 			line-height: inherit !important;
	// 			right: 0;
	// 			top: 0;
	// 			margin-right: .65rem;
	// 			font-size: 1.2rem;
	// 			color: inherit;
	// 		}
	//
	//
	// 		&[aria-expanded="false"] {
	// 			background-color: $color_gray2;
	//
	// 			&:before {
	// 				content: '\f107';
	// 				color: inherit;
	// 			}
	// 		}
	// 	}
	// }
}


.card-header {
	.mb2-accordion.isicon0 & {
		i {
			display: none;
		}
	}
}
